body {
    background-color: #E7BB41;
}


.grid{
    width:100vw;
    height:100vh;
    display:grid;
    grid-template-rows: 300px 75px auto;
    grid-template-columns: repeat(2, 1fr);
    grid-template-areas:
    "hd hd "
    "h1 h1 "
    "img img "

}
.subgrid{
    width:100vw;
    display:grid;
    grid-template-rows: minmax(1fr, auto);
    grid-template-columns:1fr 100px 1fr;
    grid-template-areas:
    "L1 . L2 "
    "L3 . L4 "
    ". L5 . ";
    justify-content: center;
    justify-items: center;
    row-gap:16%;
    padding-top:5%;
}
header{
    
    background-color: #44BBA4;
    background-image: url("O3.jpeg");
    background-size: cover;
     background-repeat: no-repeat;
    background-position: center center;
    grid-area: hd;
    text-align: center;
    position:relative;
    left:0;
    right:0;
}
.headerContain {
    width:100%;
    position:fixed;
    top:0;
}

h1{
    font-size:60px;
    color:#393E41;
    font-family:'Myriad Pro', sans-serif; ;
    /* padding-top: 15px; */
    background-color:#D3D0CB;
    margin:0%;
    grid-area: h1;
    text-align: center;

}
a{
    width:500px;
    height:500px;
    row-gap: 10px;
    position:relative;
   
}
img{
    width:40%;
   align-self: center;
    object-fit:contain;
    
}
.page header{
    width: auto;
    height: 100px;
    background-image:none;
    position:sticky;
    top:0px;
}
.page{
    background-size: 120% auto;
    background-image: url(O3.jpeg);
    background-attachment: fixed;
    background-blend-mode: lighten;
    background-color:#E7BB41;

}
.container{
    width:70%;
    display:flex;
    flex-direction:row;
    gap:150px;
    align-items:center;
    margin: 15% 25% 15% 20%;
}
p{
    color:#393E41;
    font-size:27px;
    background-color:#E7E5DF;
    background-size: 200px;
    text-align: left;
    margin-top: 10px;
    padding: 2% 12% 7% 5%;
}
.imageContainer{
    height:100vh;
    display:flex;
    flex-direction:column;
    white-space: nowrap;
    width:max-content;
    gap:0%;
    overflow-y: scroll;
    padding-left: 10%;
    grid-area:pr;
}
.imageContainer img{
    width:100%;
    height: 500px;
    align-self: flex-start;
   object-fit: cover;
   
}
.productWrap{
    display:grid;
    grid-template-columns: 60% 40%;
    grid-template-rows: 100px 1fr;
    grid-template-areas:
    "hd hd"
    "pr pri"

}
.product-secondary{
    display:flex;
    flex-direction:column;
    justify-content: center;
    min-height: 100vh;
    position:sticky;
    top:0px;
    width:100%;
    grid-area: pri;
    color:#252019;
}
.image{
    width:100%;
    display: block;
    margin:auto;
    object-fit: contain;
}
.content{
    width:100%;
    height:100%;
    top:0;
    left:0;
    position:absolute;
    background: rgba(0,0,0,0.6);
    display: flex;
    justify-content: center;
    align-items: center;
    opacity: 0;
    transition: 0.6s;
}
.content:hover{
    opacity: 1;
}
.content h2{
    color:azure;
}
.product{
    justify-self: center;
}
.Link1{
    grid-area:L1;
}
.Link2 {
    grid-area: L2;

}
.Link3 {
    grid-area: L3;
    
}
.Link4 {
    grid-area: L4;
    
}
.Link5 {
    grid-area: L5;
    
}
.iconContainer {
    height:40px;
    width:100vw;
    display:flex;
    flex-direction: row-reverse;
    justify-items:end;
    gap: 50px;
    position:absolute;
    bottom:0px;
    right:15px;
}
.iconContainer img {
    width:min-content;
    height:inherit;
    align-self:auto;
    
}
.iconContainer h6{
    text-align:left;
    font-family:'Myriad Pro', sans-serif;
    font-size:medium;
    color: azure;
    margin-block-start: 10px; 

}
@media only screen and (max-width:700px) {
    .productWrap{
        display:grid;
        grid-template-columns: 1fr 40%;
        grid-template-rows: 100px 1fr;
        grid-template-areas:
        "hd hd"
        "pr pri"
    
    }
}
.sidenav {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: azure;
    overflow-x:hidden;
    transition: 0.5s;
    padding-top: 60px;
  }
  
.sidenav a {
    height:100px;
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    color: #818181;
    display: block;
    transition: 0.3s;
  }
  
.sidenav a:hover {
    color: #252019;
  }
  
.sidenav .closebtn {
    color:#818181;
    position: absolute;
    top: 0;
    font-size: 36px;
    margin-left: 120px;
  }
.openbtn {
    font-size:70px;
    color:#E7E5DF;
    font-weight:bold;
    position:absolute;
    top:10px;
    left:35px;
}
.listContain {
    display: flex;
    flex-direction: column;
    background-color:#E7E5DF;
    font-size: 20px;
    padding-right: 5%;
}